<h2>Toledo!!</h2>

<img src="../../../assets/img/toledo.jpg" alt="fotito toledo" height="200 px" width="350 px">

<p>
Toledo es un municipio y ciudad española, capital de la provincia homónima, en la comunidad autónoma de 
Castilla-La Mancha. Es conocida como «la ciudad imperial» por haber sido la sede principal de la corte de 
Carlos I5​ y también como «la ciudad de las tres culturas»,6​ por haber estado poblada durante siglos por 
cristianos, judíos y musulmanes. Con una población de 84 873 habitantes (INE, 2019), se trata del tercer 
municipio más poblado de la región, tras Albacete y Guadalajara.
</p><p>
El casco histórico está situado en la margen derecha del Tajo, en una colina rodeada por un pronunciado 
meandro. El término municipal incluye dos barrios muy separados del núcleo principal: el de Azucaica, en la 
orilla derecha del río, y el de Santa María de Benquerencia, situado prácticamente enfrente del anterior en 
la margen izquierda.
</p><p>
La ciudad fue un importante centro carpetano hasta su conquista romana en 193 a. C.. Tras las invasiones 
germánicas, Toledo se convertiría en capital y, posteriormente, principal sede eclesiástica del Reino 
visigodo. En el año 711, Toledo fue conquistada por los musulmanes, cuyo dominio finalizó con la toma de la 
ciudad en 1085 por Alfonso VI. En el siglo xvi tuvieron lugar la guerra de las Comunidades de Castilla y el 
traslado en 1561 de la corte a Madrid, tras el cual la ciudad entró en decadencia, acentuada por la crisis 
económica del momento. Ya en época contemporánea, se recuerda el asedio y defensa del alcázar durante la 
guerra civil. En 1983 Toledo pasó a ser sede de las Cortes regionales y de la Junta de Comunidades de 
Castilla-La Manchanota 1​ y en 1986 su casco histórico fue declarado Patrimonio de la Humanidad.
</p>