<h2>Consulta información de empleado</h2>

<form (submit)="consulta(emp.id, ipc)" #formu="ngForm">

    <label for="id">Numero de Identificacion</label>
    <input type="text" required autocomplete="off" name="id" id="id" [(ngModel)]="emp.id" #id="ngModel">

    <div *ngIf="id.invalid && (id.dirty || id.touched)">
        <div *ngIf="id.errors.required">
            <h3>Introduzca el ID de empleado</h3>
        </div>
    </div>

    <br><br>

    <label for="ipc">IPC</label>
    <input type="text" autocomplete="off" name="ipc" id="ipc" [(ngModel)]="ipc">
    
    <button type="submit" [disabled]="!formu.form.valid">Buscar Empleado</button>

</form>
<br><br>
<div *ngIf="emp.employee_salary!=''">
    <table>
        <tr>
            <th>ID</th>
            <th>Nombre</th>
            <th>Salario Base</th>
            <th>IPC</th>
            <th>Salario Actualizado</th>
        </tr>
        <tr>
            <td>{{emp.id}}</td>
            <td>{{emp.employee_name}}</td>
            <td>{{emp.employee_salary}}</td>
            <td>{{ipc}}</td>
            <td>{{sueldoipc}}</td>
        </tr>
    </table>
   
</div>
