<h2>Madrid!!</h2>


<img src="../../../assets/img/madrid.jpg" alt="Fotico de Madrid" height="200 px" width="350 px">

<p>
Madrid es un municipio y ciudad de España. La localidad, con categoría histórica de villa,9​ es la capital 
del Estado10​ y de la Comunidad de Madrid. Dentro del término municipal de Madrid, el más poblado de España, 
viven 3 223 334 personas empadronadas, según el INE de 2018. El área metropolitana asociada tiene una 
población de 6 507 184 habitantes,11​ por lo que es la tercera o cuarta de la Unión Europea, según la 
fuente, tras las de París y Londres, y en algunas fuentes detrás también de la Región del Ruhr, así como 
la tercera ciudad más poblada de la Unión Europea, por detrás de Berlín y Londres.12​13​14​15​
</p>
<p>
La ciudad cuenta con un PIB nominal de 230 018 millones de euros y un PIB per cápita nominal de 34 916 € 
(40.720 US$),[cita requerida] siendo la 1.ª área metropolitana española en actividad económica; y la décima 
de Europa tras Londres, París, Rin-Ruhr, Ámsterdam, Milán, Bruselas, Moscú, Fráncfort del Meno y Múnich.[cita
 requerida] Madrid es también la ciudad española con más pernoctaciones hoteleras.16​
</p>
 <p>
En calidad de capital de España, Madrid alberga las sedes del Gobierno de España y sus Ministerios, de las 
Cortes Generales (Congreso y Senado), del Tribunal Supremo y del Tribunal Constitucional, así como la 
residencia oficial de los reyes de España17​ y del presidente del Gobierno. En el plano económico, es la 
cuarta ciudad más rica de Europa, tras Londres, París y Moscú.18​ Para 2009, el 50,1 % de los ingresos de las 
5000 principales empresas españolas son generados por sociedades con sede social en Madrid, que suponen un 
31,8 % de ellas.19​ Es sede del 4.ª mayor mercado de valores de Europa,20​ y 2.ª en el ámbito iberoamericano 
(Latibex) y de varias de las más grandes corporaciones del mundo.21​22​ Es la 8.ª ciudad del mundo con mayor 
presencia de multinacionales, tras Pekín y Milán y por delante de Dubái, París y Nueva York.23​24​
</p>
